ui-inputbox{
	display: inline-flex;
	font-family: sans-serif;
	letter-spacing: 1px;
	cursor: text;
	overflow: hidden;
}

ui-image{
	display: inline-block;
	overflow: hidden;
}

ui-canvas-hd{
	display: inline-block;
}
